.card{
  position: relative;
}
.card__image{
    height: 413px;
    width: 100%;
    display: block;
    object-fit: cover;

    

}

.card__like-btn{
    width: 23px;
    height: 20px;
    border: none;
    background:transparent;
    opacity: 0.4;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: opasity 0.3s ease;

}


.card__like-btn:hover{
    opacity: 0.5;
}

.card__like-btn_active{
   
    background-image: url(../images/Liked.svg);
    opacity: 1;

}

.card__like-btn_active:hover{
   
    background-image: url(../images/Liked.svg);
    opacity: 0.4;

}

.card__delete-btn{
   
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../images/delete.svg);
    background-color: none;
    border: none;
   

}

.card__delete-btn:hover{
   background-image: url(../images/delhover.svg);
   opacity: 0.4;

}


.card__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title{
    font-size: 20px;
}

@media screen and (max-width: 627px){
    .card__image{
        height: 288px;
    }

}