.modal{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }

.modal_is-opened{
    visibility: visible;
    opacity: 1;

}

.modal__container{
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;

}

.modal__close-btn{
    position: absolute;
    top: 32px;
    right: 50px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;


}

.modal__close-btn:hover{
    opacity: 0.3;
}

.modal__close-btn_type-preview{
    color: #fff;
    background: none;
    top: 0;
    right: -52.5px;
   
    
}

.modal__close-btn_type-preview:hover{
    opacity: 0.3;
}

.modal__title{
    margin: 0 0 32px;

}

.modal__form{
    display: flex;
    flex-direction: column;
}

.modal__label{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 8px;
}

.modal__input{
    width: 100%;
    border-radius: 8px;
    padding: 16px 12px;
    border-color: #212121;
    margin: 8px 0 0;

}

.modal__input::placeholder{
    color: #2121214d;
}
.modal__error{
    display: block;
    color: red;
    margin-top: 8px;
    
   
}

.modal__input_type_error{
    border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__save-btn{
    max-width: 156px;
    height: 52px;
    padding: 18px 32px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.modal__save-btn_inactive{
    border: 1px solid; 
    border-radius: 8px;
    background-color: grey;
    opacity: 50%;
   
}

.modal__image-container{
    position: relative;
}

.modal__image{
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.modal__caption{
    color: #fff;
    background-color: black;
    max-width: 100%;
    width: 150px;
    height: auto;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: left;

}


@media screen and (max-width: 627px){
    .modal__save-btn{
        max-width: none;
    }
    .modal__close-btn_type-preview{
        top: -48px;
        right: 0;
    }
    .modal__image{
        max-width: unset;
    }

}