.modal{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }

.modal_is-opened{
    visibility: visible;
    opacity: 1;

}

.modal__container{
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;

}

.modal__close-btn{
    position: absolute;
    top: 32px;
    right: 50px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #fff;
    font-size: 20px;


 


}

.modal__title{
    margin: 0 0 32px;

}

.modal__form{
    display: flex;
    flex-direction: column;
}

.modal__label{
    display: flex;
    flex-direction: column;
    margin: 0 0 32px;
    gap: 8px;
}

.modal__input{
    border-radius: 8px;
    padding: 16px 12px;
    border-color: #212121;

}

.modal__input::placeholder{
    color: #2121214d;
}

.modal__save-btn{
    max-width: 156px;
    height: 52px;
    padding: 18px 32px;
    background-color: black;
    color: #fff;
}

@media screen and (max-width: 627px){
    .modal__save-btn{
        max-width: none;
    }

}