.profile{
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;

    
}

.profile__avatar{
    height: 190px;
    width: 190px;
    margin-right: 20px;
}

.profile__column{
    display: flex;
    flex-direction: column;
    margin-top: 0 0 20px;
}

.profile__name{
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__description{
    font-size: 16px;
    margin: 0 0 32px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__edit-btn{
margin-top: auto;
opacity: 1;
transition: opasity 0.3s ease;
}

.profile__edit-btn:hover{
opacity: 0.5;
}

.profile__new-post-btn{
    margin-left: auto;
    color: #fff;
    background-color: black;
   margin-top: auto;
    width: 149px;
    height: 52px;
    border-radius: 8px;
    opacity: 1;
    transition: opasity 0.3s ease;
}
.profile__new-post-btn:hover{
    opacity: 0.5;
}



@media screen and (max-width: 627px) {
    .profile{
        max-width: 288px;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 20px;
    }
    .profile__avatar{
        margin-right: 0 0 12px;
        height: 80px;
        width: 80px;

    }
    .profile__name{
        font-size: 20px;
        margin: 0 0 6px;
        max-width: 288px;
    }
    .profile__description{
        margin: 0 0 32px;
        max-width: 288px;
    }
    .profile__column{
        margin-top: 0 0 20px;
    }

    .profile__edit-btn{
        margin: 0 0 20px;
        width: 100%;
        max-width: 288px;
    }
    
    .profile__new-post-btn{
        margin: 0;
        width: 100%;
        max-width: 288px;
    }
}